body {
    margin: 0;
    font-family: 'Muli', sans-serif;
}

.header {
    align-items: center;
    background-color: #21c08b;
    color: white;
    display: flex;
    height: 100px;
    justify-content: space-between;
    top: 0px;
    width: 100%;
}

.header__img {
    margin-left: 30px;
    width: 200px;
}

.register {
    background: linear-gradient(#21C08B, #AB88FF);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px, 30px;
    min-height: calc(100vh - 100px);
    /* El ancho será igual al tamaño de todo el height menos 200px (100px del header + 100px del footer) */
}