* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
}

.header {
    background: gold;
}

.content {
    background: lime;
}

.footer {
    background: salmon;
}